@font-face {font-family:Lato-Hairline;src:url("../fonts/Lato-Hairline.ttf");}
@font-face {font-family:Lato-Medium;src:url("../fonts/Lato-Medium.ttf");}
@font-face {font-family:Lato-Light;src:url("../fonts/Lato-Light.ttf");}
@font-face {font-family:Lato-Black;src:url("../fonts/Lato-Black.ttf");}
@font-face {font-family:Lato-Thin;src:url("../fonts/Lato-Thin.ttf");}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
a,a:hover,a:active{color:inherit;text-decoration:none;}
html,body {-webkit-touch-callout: none;-webkit-text-size-adjust: none;-webkit-user-select: none;font-size:13px;height:100%;margin:0px;padding:0px;width:100%;height:100%;}
#topo{width:100%;height:9%;z-index:2;position:fixed;padding-bottom:2.5%;background-color:#652C90;}
#topo .btn_topo{height:55%;margin:5%;}
#topo .btn_topo img{height:100%;}
#topo #label_topo{margin:5%;margin-left:2.5%;font-size:1.5em;padding:1%;width:70%;color:white;font-family:Lato-Light;background-color:transparent;border:0px;border-bottom:1px solid white;}
#topo #label_topo:focus{outline:none;}
#barra{position:fixed;top:10.5%;width:100%;background-color:#652C90;box-shadow:0px 1px 8px #666666;z-index:1;color:white;font-family:Lato-Light;}
#barra ul{margin:0%;padding:0%;width:100%;height:100%;}
#barra ul li{display:inline-block;width:49%;height:100%;}
#barra ul li span{display:block;text-align:center;margin-top:10%;margin-bottom:10%;font-size:1.3em;}
#tab_barra{float:left;width:50%;padding-top:1.2%;background-color:white;margin-top:-1.2%;margin-left:0%;transition:margin-left 0.5s;z-index:3;}
#conteudo{width:100%;float:left;overflow-y:auto;}
#loading{display:block;max-width:45%;margin:0px auto;margin-top:5%;}


.card{float:left;width:85%;padding:5%;box-shadow:0px 1px 4px #666666;border-radius:5px;margin-left:2.5%;margin-bottom:2.5%;background:white;}
.card:first-child{margin-top:2.5%;}
.card .title_card{margin-bottom:5%;font-family:Lato-Light;font-size:0.9em;}
.card .line{float:left;width:100%;border-bottom:1px solid #652C90;margin:5% 0%;}
.card .ver_mais{float:left;width:110%;border-top:1px solid #666666;margin-top:5%;margin-left:-5%;text-align:center;font-family:Lato-Light;padding-top:2.5%;margin-bottom:-2.5%;}
.card .cabecalho_card{float:left;width:100%;display:table;margin-bottom:5%;}
.card .cabecalho_card .ft_perfil_card{display:table-cell;width:15%;background-size:cover;background-position:center;border-radius:50%;}
.card .cabecalho_card .ft_perfil_card_pesq{display:table-cell;width:15%;background-size:cover;background-position:center;border-radius:50%;}
.card .cabecalho_card .info_card{width:80%;display:table-cell;vertical-align:middle;padding-left:5%;}
.card .cabecalho_card .info_card .nome_card{font-size:1.3em;font-family:Lato-Medium;}
.card .cabecalho_card .info_card .data_card{font-size:0.9em;color:#666666;font-family:Lato-Light;}
.card .conteudo_card{width:95%;margin-left:2.5%;font-size:1em;font-family:Lato-Light;}
.card .conteudo_card img{width:100%;}
.card .botoes_card{float:left;width:95%;margin-top:5%;margin-left:2.5%;border-top:1px solid #652C90;}
.card .botoes_card .btn_card{float:left;margin-top:2.5%;width:33%;}
.card .botoes_card .btn_card img{width:30%;float:left;margin-right:10%;}
.card .botoes_card .btn_card span{float:left;margin-top:8%;font-family:Lato-Black;}
#feed_load{display:block;max-width:25%;margin:0px auto;margin-top:5%;}
